:root {
  --primary-color: #2c8c99;
  --text-primary: #333;
  --text-secondary: #555;
  --text-light: #777;
  --background-body: #f8f8f8;
  --background-container: #fff;
  --background-sidebar: #f0f0f0;
  --background-skill-item: #e0e0e0;
  --border-color: #eee;
  --spacing-sm: 0.25em;
  --spacing-md: 0.5em;
  --spacing-lg: 1em;
  --spacing-xl: 1.5em;
  --spacing-2xl: 2.5em;
  --font-size-base: 16px; /* Assuming a base font size */
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: var(--spacing-md);
  background-color: var(--background-body);
  color: var(--text-primary);
  font-size: var(--font-size-base);
}

h1,
h2,
h3 {
  color: var(--primary-color);
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-sm);
  font-weight: bold;
}

h1 {
  font-size: 2.8em;
  margin-bottom: 0.2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.4em;
  /* color: var(--text-secondary); */
}

p {
  margin-top: var(--spacing-sm);
  margin-bottom: var(--spacing-sm);
}

a {
  color: var(--primary-color);
  text-decoration: underline;
}

ul {
  padding-left: 20px;
  margin-top: var(--spacing-sm);
  margin-bottom: var(--spacing-md);
}

li {
  margin-top: var(--spacing-sm);
  margin-bottom: var(--spacing-sm);
}

span.size-24 {
  font-size: 24px;
  font-variation-settings: "OPSZ" 24;
  vertical-align: middle;
}
span.size-40 {
  font-size: 40px;
  font-variation-settings: "OPSZ" 40;
  vertical-align: middle;
}

@media print {
  body {
    font-size: 12pt; /* Adjust base font size for print */
    line-height: 1.4;
    background-color: #fff !important; /* Force white background */
    color: #000 !important; /* Force black text */
    padding: 20mm; /* Adjust print margins */
  }

  h1,
  h2,
  h3 {
    color: #000 !important; /* Ensure headings are black */
    break-after: avoid; /* Try to prevent headings from being the last thing on a page */
  }

  /* Hide any interactive elements or links that are not useful in print */
  a {
    text-decoration: none !important;
    color: #000 !important; /* Ensure links are black */
  }

  a::after {
    content: " (" attr(href) ")"; /* Optionally show the URL after links */
    font-size: 0.8em;
    color: #777;
  }
}
